@model CustomValidation.Controllers.MyModel
		   
@using CustomValidation.Helpers;

@{
	ViewBag.Title = "Form Validation Test Page";
}

<script type="text/javascript" src="/Scripts/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h1>Form Validation Test Page</h1>

@Html.ValidationSummary("Errors")

@using (Html.BeginForm())
{
	@Html.OutputField(m => m.DigitsWithCustomAttribute)
	@Html.OutputField(m => m.DigitsWithDataTypeAttribute)
	@Html.OutputField(m => m.DigitsAsCustomType)
	@Html.OutputField(m => m.Email)
	@Html.OutputField(m => m.CustomAttributeWithLabel)
	@Html.OutputField(m => m.DataTypeAttributeWithLabel)
	@Html.OutputField(m => m.CustomTypeWithLabel)
@:
	<input type="submit" value="Submit" />
}